@import url("https://fonts.googleapis.com/css?family=Oswald:400,500,600,700|Roboto+Condensed:400,700,700i|Roboto:400,500,700,900&display=swap");

body {
  text-align: center;
  background: #191716;
}
#movie-button,
#genre-button {
  padding: 0px 10px 1px 10px;
  border-style: none;
  background: #1d00ee;
  color: #e6e6e6;
  font-family: "Oswald";
  font-size: 15px;
}
#movie-card,
#genre-card {
  width: 20rem;
  border-style: none;
  background: #ffce00;
}
#card-title,
#genre-card-title {
  font-size: 26px;
  font-weight: bold;
  font-family: "Oswald";
}
#movie-info {
  padding: 30px;
  font-family: "Oswald";
  font-size: 20px;
  color: white;
}
.favoriteButton {
  padding-bottom: 10px;
  height: 40px;
  margin: 0px 20px;
  width: 100px;
}

/* navigation */
.navBackground {
  background-color: #ffce00;
  color: #19191a;
}

.navBackground img {
  height: 40px;
}

.navSearch {
  position: relative;
  justify-self: right;
}

/* Home */
.homeTop {
  margin: 0;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Movie Listing*/
.columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.movie-list {
  margin: 20px auto;
}

/* Movie details */
.movieDetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.moviePoster img {
  width: 75%;
}

/* Genre */
.genre {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  box-shadow: 0 7px 5px rgba(44, 44, 44, 0.199);
}
.genre button {
  padding-bottom: 15px;
  height: 40px;
}

/* Genre Listing */

.filmstripBckgrnd {
  background-color: #ffce00;
  /* background-color: blue; */
}

.AppMain {
  align-items: center;
}

.Signup {
  width: 300px;
  background-color: white;
  margin: 30px auto;
  padding: 25px;
  border-radius: 10px;
}
.Signup h2 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  word-spacing: -7px;
}
.Signup span {
  color: #2a42ee;
  font-weight: 900;
}

.About{
  width: 75%;
  background-color: white;
  margin: 30px auto;
  padding: 25px;
  border-radius: 10px;
  text-align: left;
}

.About H2{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  word-spacing: -7px;
  text-align: center;
}

.About img{
  width: 90%;
}
.About .Centered{
  text-align: center;
}
.About H3, H4{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
}


.About span{
  color: #2a42ee;
  font-weight: 900;
}
.Signup input{
  border: 1px solid rgb(168, 168, 168);
}
.Signup input[type="Submit"] {
  background-color: #2a42ee;
  margin-top: 10px;
  /* padding: 15px; */
  padding-top: 5px;
  padding-bottom: 10px;
  width: 60px;
  color: white;
  /* vertical-align: middle; */
}

.Signup button {
  background-color: #2a42ee;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
 width: 90px;
  color:white;
  letter-spacing: 1px;
 
}
.input-field{
  margin-bottom:5px;
}

.GenreBox{
  margin-bottom: 25px;
  color: white;
  font-family: "Roboto", sans-serif;

}
.GenreBox Button{
  background-color: #2a42ee;
  margin: 10px 25px;
  padding-top: 5px;
  padding-bottom: 17px;
 width: 150px;
 height: 40px;
  color:white;
  letter-spacing: 1px;
  border-style: none;

}


/* Responsive */
.vimeo-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}
.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Tablet size */
@media all and (min-width: 768px) and (max-width: 1024px) {
}

/* Tablet size */
@media all and (min-width: 480px) and (max-width: 768px) {
  .columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .movieDetails {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* smaller than iphone */
@media all and (max-width: 480px) {
  .columns {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .movieDetails {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* 
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
 */
