/* navigation */
.navBackground {
  background-color: #ffce00;
  color: #4e4e56;
}

.navBackground img {
  height: 40px;
}

/* Home */
.homeTop {
  margin: 0;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  

/* Favorite */
.favoriteButton img {
  /* width: 20px; */
}

/* Movie */

/* Movie Listing*/
.columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Movie details */
.movieDetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.moviePoster img {
  width: 75%;
}

/* Genre */

/* Genre Listing */

.filmstripBckgrnd{
    background-color: #ffce00;
    /* background-color: blue; */
}


.AppMain{
    align-items: center;

}

/* Responsive */

/* Tablet size */
@media all and (min-width: 768px) and (max-width: 1024px) {
}

/* Tablet size */
@media all and (min-width: 480px) and (max-width: 768px) {
  body {
    background-color: #ffce00;
  }
}

/* smaller than iphone */
@media all and (max-width: 480px) {
}
