body {
  text-align: center;
  background: #191716;
}
#movie-button,
#genre-button {
  padding: 0px 10px 1px 10px;
  border-style: none;
  background: #1d00ee;
  color: #e6e6e6;
  font-family: "Oswald";
  font-size: 15px;
}
#movie-card,
#genre-card {
  width: 20rem;
  border-style: none;
  background: #ffce00;
}
#card-title,
#genre-card-title {
  font-size: 26px;
  font-weight: bold;
  font-family: "Oswald";
}
#movie-info {
  padding: 30px;
  font-family: "Oswald";
  font-size: 20px;
  color: white;
}

/* navigation */
.navBackground {
  background-color: #ffce00;
  color: #4e4e56;
}

.navBackground img {
  height: 40px;
}

.navSearch {
  position: relative;
  justify-self: right;
}

/* Home */
.homeTop {
  margin: 0;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Favorite */
.favoriteButton img {
  /* width: 20px; */
}

/* Movie */

/* Movie Listing*/
.columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.movie-list {
  margin: 20px auto;
}

/* Movie details */
.movieDetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.moviePoster img {
  width: 75%;
}

/* Genre */

/* Genre Listing */

.filmstripBckgrnd {
  background-color: #ffce00;
  /* background-color: blue; */
}

.AppMain {
  align-items: center;
}

/* Responsive */

/* Tablet size */
@media all and (min-width: 768px) and (max-width: 1024px) {
}

/* Tablet size */
@media all and (min-width: 480px) and (max-width: 768px) {
  body {
    /* background-color: #ffce00; */
  }
  .columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .movieDetails {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* smaller than iphone */
@media all and (max-width: 480px) {
  .columns {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .movieDetails {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
